# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=ddf011a53a72d4f85e6fcfd4d1a72737
DOCS_ROOT_PATH=_docs
###> Uncomment these lines if you want to change default Elasticsearch configuration
#ELASTICA_HOST='localhost'
#ELASTICA_PORT='9200'
#ELASTICA_PATH=''
#ELASTICA_TRANSPORT='Http'
#ELASTICA_INDEX='docsearch'
#ELASTICA_USERNAME='username'
#ELASTICA_PASSWORD='password'
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
