{% extends '/layout/base.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block page_content %}
    <!-- body -->
    <section class="section" id="welcome-to-the-official-typo3-documentation">
        <span id="start"></span>
        <h1>Welcome to the TYPO3 document search
{#            <a class="headerlink"#}
{#                                                   href="#welcome-to-the-official-typo3-documentation"#}
{#                                                   data-bs-toggle="modal" data-bs-target="#linkReferenceModal"#}
{#                                                   title="Permalink to this headline"><i class="fa-solid fa-paragraph"></i></a>#}
        </h1>
        <p>
            Use the input field above to search through TYPO3 documentation.
        </p>
    </section>
    <!-- /body -->
{% endblock %}


