{% extends '/layout/base.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block page_content %}
    <!-- body -->
    <div class="section" id="welcome-to-the-official-typo3-documentation">
        <span id="start"></span>
        <h1>Welcome to the TYPO3 document search<a class="headerlink"
                                                          href="#welcome-to-the-official-typo3-documentation"
                                                          title="Permalink to this headline">¶</a>
        </h1>
    </div>
    <!-- /body -->
{% endblock %}
