<f:layout name="Default"/>

<f:section name="title">Searchresult</f:section>
<f:section name="Stylesheets">
    <style>
        .aggregations {
            color: white;
            padding-left: 15px;
        }
        .aggregation-bucket-name {
            font-size: 18px;

        }

        .aggregation-buckets {
            padding-left: 15px;
            list-style-type: disc !important;
        }

        .aggregation-bucket {
            font-size: 14px;
            border-top: 1px solid #797979;
            margin-bottom: 6px;
        }
        .aggregation-bucket:first-child {
            border-top: none;
        }

        .pagination li {
            border: 1px solid #dedede;
            display: inline-table;
        }
        .pagination li a {
            display: block;
            padding: 8px;
        }

        .pagination li.active a {
            background-color: #D3D3D3;
        }
    </style>
</f:section>
<f:section name="searchQuery">{q}</f:section>
<f:section name="Sidebar">
    <ul class="aggregations">
        <f:for each="{results.aggs}" as="aggs" key="aggName">
        <li class="aggregation-bucket-name">{aggName}
            <ul class="aggregation-buckets">
                <f:for each="{aggs.buckets}" as="bucket">
                    <li class="aggregation-bucket">{bucket.key} ({bucket.doc_count})</li>
                </f:for>
            </ul>
        </li>
        </f:for>
    </ul>
</f:section>
<f:section name="Content">
    <div class="container">
        <h4>Showing hits <strong>{results.startingAtItem} </strong>to <strong>{results.endingAtItem}</strong> of <strong>{results.totalResults}</strong></h4>
        <f:render partial="Paginator" arguments="{result:results, q:q}" />
        <f:for each="{results.results}" as="hit">
            <div class="hit">
                <h4>
                    {hit.data.snippet_title}
                    <small class="text-muted">{hit.data.book_title}</small>
                    <span class="badge badge-secondary">{hit.data.book_type}</span>
                </h4>
                <p class="url">
                    <a href="https://docs.typo3.org/typo3cms/{hit.data.book_slug}/{hit.data.relative_url}#{hit.data.fragment}">
                        https://docs.typo3.org/typo3cms/{hit.data.book_slug}/{hit.data.relative_url}#{hit.data.fragment}
                    </a>
                </p>
                Version: {hit.data.book_version}
                <p class="summary">{hit.data.snippet_content}...</p>
            </div>
        </f:for>
        <f:render partial="Paginator" arguments="{result:results, q:q}" />
    </div>
</f:section>
<f:section name="Javascripts"></f:section>