<div class="page-header">
    <div class="page-header-inner">
        <div class="row">
            <div class="col-2 col-lg-4">
                <a class="logo" href="/" title="TYPO3 Documentation">
                    <img alt="TYPO3 Logo" class="logo-image"
                         height="130" src="https://cdn.typo3.com/typo3documentation/theme/sphinx_typo3_theme/4.5.1/img/typo3-logo.svg" width="484"/>
                </a>
            </div>
            <div class="col-10 col-lg-8">
                <div class="menu-search-wrapper">
                    <all-documentations-menu></all-documentations-menu>
                    <search role="search">
                        <form id="rtd-search-form" class="wy-form" action="{{ path('searchresult') }}" method="get">
                            <div class="input-group mb-3 mt-sm-3">
                                <select class="form-select search__scope" id="searchscope" name="scope">
                                    <option value="">Search all</option>
                                    {% if searchScope is defined and searchScope is not empty %}
                                        <option value="{{ searchScope|striptags|escape }}" selected="selected">Search
                                            current
                                        </option>
                                    {% endif %}
                                </select>
                                <input type="text" class="form-control shadow-none" name="q" autocomplete="off"
                                       placeholder="Search in TYPO3 documentation" id="searchinput"
                                       value="{% if q is defined %}{{ q }}{% endif %}">
                                <button class="btn btn-light" type="submit"><i class="fa fa-search"></i>&nbsp;<span
                                            class="d-none d-md-inline">Search</span></button>
                            </div>
                        </form>
                        <div id="global-search-root"></div>
                    </search>
                </div>
            </div>
        </div>
    </div>
</div>
