<div class="page-header">
    <div class="page-header-inner">
        <div class="row">
            <div class="col-2 col-lg-4">
                <a class="logo" href="/" title="TYPO3 Documentation">
                    <img alt="TYPO3 Logo" class="logo-image"
                         height="130" src="https://cdn.typo3.com/typo3documentation/theme/sphinx_typo3_theme/4.5.1/img/typo3-logo.svg" width="484"/>
                </a>
            </div>
            <div class="col-10 col-lg-8">
                <div class="menu-search-wrapper">
                    <all-documentations-menu></all-documentations-menu>
                    <search role="search">
                        <form action="{{ path('searchresult') }}" id="global-search-form" method="get">
                            <div class="sr-only"><label for="globalsearchinput">TYPO3 documentation...</label></div>
                            <div class="input-group mb-3 mt-sm-3">
                                <select class="form-select search__scope" id="searchscope" name="scope">
                                    <option value="">Search all</option>
                                </select>
                                <input autocomplete="off" class="form-control shadow-none" id="globalsearchinput" name="q" placeholder="TYPO3 documentation..." type="text" value="">
                                <button class="btn btn-light" type="submit"><i class="fa fa-search"></i>&nbsp;<span class="d-none d-md-inline">Search</span></button>
                            </div>
                        </form>
                        <div id="global-search-root"></div>
                    </search>
                </div>
            </div>
        </div>
    </div>
</div>
