<div class="page-footer">
    <!-- footer.html -->
    <footer>
        <div class="frame frame-ruler-before frame-background-dark">
            <div class="frame-container">
                <div class="frame-inner">
                    <ul class="footer-simplemenu"><li><a href="https://typo3.org/community/teams/documentation/#c9886" title="Contact"><span>Contact</span></a></li>
                        <li><a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/issues" rel="nofollow noopener" title="Issues"><span>Issues</span></a></li>
                        <li><a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage" rel="nofollow noopener" title="Repository"><span>Repository</span></a></li>
                    </ul>
                    <div class="footer-additional">
                        <p class="text-center">
                            Last updated: <a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/commit/4595662881f3eda2f480dbbf99565bd495cf833f" rel="nofollow noopener" target="_blank" title="Last commit">
                                Oct 30, 2020 07:03
                            </a>
                        </p>
                        <p class="text-center">Last rendered: Jan 22, 2021 09:03</p>
                        <p class="text-center">
                            <a href="https://github.com/TYPO3-Documentation/sphinx_typo3_theme" rel="nofollow noopener" target="_blank">
                                TYPO3 Theme 4.4.3
                            </a>
                        </p>
                    </div>
                    <div class="footer-meta">
                        <div class="footer-meta-copyright">
                            © Copyright since ever by the TYPO3 Documentation Team
                        </div>
                        <ul class="footer-meta-navigation">
                            <li><a href="https://typo3.org/legal-notice" rel="nofollow" target="_blank" title="Legal Notice">Legal Notice</a></li>
                            <li><a href="https://typo3.org/privacy-policy" rel="nofollow" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer.html -->
</div>