<div class="page-topbar">
    <div class="page-topbar-inner">
        <!-- UNIVERSE BAR START -->
        <typo3-universe active="documentation">
            <div style="display: block; height: 44px; background-color: #313131;"></div>
        </typo3-universe>
        <!-- UNIVERSE BAR END -->
    </div>
</div>