<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}{% endblock %}</title>

    {{ render_assets('css', 'header') | raw }}
    {{ render_assets('js', 'header') | raw }}

    {% block link_tags %}
        {% include 'partial/base/linktags.html.twig' %}
    {% endblock %}

</head>
<body>
<div class="page">
    {% block topbar %}
        {% include 'partial/base/topbar.html.twig' %}
    {% endblock %}

    {% block page_header %}
        {% include 'partial/base/page_header.html.twig' %}
    {% endblock %}

    <div class="page-main">
        <div class="page-main-inner">
            {% block navigation %}{% endblock %}

            <div class="page-main-content">
                <div class="rst-content">
                    {% block pager_hidden %}
                        {% include 'partial/base/pager_hidden.html.twig' %}
                    {% endblock %}

                    {% block page_breadcrumbs %}
                        {% include 'partial/base/breadcrumbs.html.twig' %}
                    {% endblock %}

                    <div class="document" itemscope="itemscope" itemtype="http://schema.org/Article" role="main">
                        <div itemprop="articleBody">
                            {% block page_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block page_footer %}
        {% include 'partial/base/page_footer.html.twig' %}
    {% endblock %}
</div>

<script type="text/javascript">
    let DOCUMENTATION_OPTIONS = {
        URL_ROOT: './',
        VERSION: 'master',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE: true
    };
</script>

{{ render_assets('js', 'footer') | raw }}

<script type="text/javascript" id="searchindexpath" data-path="{{ asset('assets/js/searchindex.js') }}">
    jQuery(function () {
        let searchindexpath = $('#searchindexpath').data('path');
        Search.loadIndex(searchindexpath);
    });
</script>
<script id="searchindexloader" type="text/javascript"></script>
</body>

</html>
