<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/theme.css" rel="stylesheet" type="text/css"/>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/webfonts.css" rel="stylesheet" type="text/css"/>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <link href="_static/graphviz.css" rel="stylesheet" type="text/css"/>
    <!-- linktags -->
    {% block link_tags %}
        {% include 'partial/base/linktags.html.twig' %}
    {% endblock %}
    <!-- /linktags -->
    <!-- extrahead --><!-- /extrahead -->
    <script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/modernizr.min.js"></script>
    <!-- UNIVERSE BAR START -->
    <script src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/webcomponents-loader.js"></script>
    <script src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/typo3-universe.js" type="module"></script>
    <!-- UNIVERSE BAR END -->
</head>
<body>
<div class="page">
    {% block topbar %}
        {% include 'partial/base/topbar.html.twig' %}
    {% endblock %}

    {% block page_header %}
        {% include 'partial/base/page_header.html.twig' %}
    {% endblock %}

    <div class="page-main">
        <div class="page-main-inner">
            {% block navigation %}{% endblock %}

            <div class="page-main-content">
                <div class="rst-content">
                    {% block pager_hidden %}
                        {% include 'partial/base/pager_hidden.html.twig' %}
                    {% endblock %}

                    {% block page_breadcrumbs %}
                        {% include 'partial/base/breadcrumbs.html.twig' %}
                    {% endblock %}

                    <div class="document" itemscope="itemscope" itemtype="http://schema.org/Article" role="main">
                        <div itemprop="articleBody">
                            {% block page_content %}{% endblock %}
                        </div>
                    </div>

                    {#TODO: Implement paginator#}
                </div>
            </div>
        </div>
    </div>

    {% block page_footer %}
        {% include 'partial/base/page_footer.html.twig' %}
    {% endblock %}
</div>
<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT: './',
        VERSION: 'master',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE: true
    };
</script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/jquery.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/underscore.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/doctools.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/popper.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/theme.min.js" type="text/javascript"></script>
<script src="_static/language_data.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/searchtools.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/autocomplete.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function() { Search.loadIndex("searchindex.js"); });
</script>
<script id="searchindexloader" type="text/javascript"></script>
<!-- scripts2 --><!-- /scripts2 -->
<!-- footer2 --><!-- /footer2 -->
<script id="R9wBKTwzv" src="https://app.usercentrics.eu/latest/main.js" type="application/javascript"></script>
<script data-usercentrics="Matomo" src="js/piwik.js" type="text/plain"></script>
</body>

</html>
