<div class="page-main-navigation">
    <nav>
        <input class="toc-checkbox" id="toggleToc" type="checkbox"/>
        <div class="toc-header"><div class="toc-actions">
                <label class="toc-toggle" for="toggleToc">
                    Menu
                </label>
            </div>
        </div>
        <div class="toc-collapse">
            <div aria-label="main navigation" class="toc" role="navigation">
                <!-- menu -->
                <ul>
                    <li class="toctree-l1"><a class="reference external" href="index.html#gettting-started">Getting Started</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/GuidesAndTutorials.html">Tutorials and Guides</a><ul>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/guide-contributionworkflow/master/en-us/index.html">Core Contribution Guide</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/book-extbasefluid/10.4/en-us/index.html">Extensions with Extbase and Fluid</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/tutorial-editors/10.4/en-us/index.html">Editors Tutorial</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/guide-extbasefluid/master/en-us/index.html">Extbase Guide</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/guide-frontendlocalization/10.4/en-us/index.html">Frontend Localization Guide</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/tutorial-getting-started/10.4/en-us/index.html">Getting Started Tutorial</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/guide-installation/10.4/en-us/index.html">Installation &amp; Upgrade Guide</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/tutorial-sitepackage/10.4/en-us/index.html">Sitepackage Tutorial</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/tutorial-templating/10.4/en-us/index.html">Templating Tutorial</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/tutorial-typoscript-in-45-minutes/10.4/en-us/index.html">TypoScript in 45 Minutes</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/docs-how-to-document/master/en-us/index.html">Writing Documentation</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/References.html">Core Documentation</a><ul>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/reference-coreapi/10.4/en-us/index.html">TYPO3 Explained</a></li>
                            <li class="toctree-l2"><a class="reference external" href="c/typo3/cms-core/master/en-us/index.html">Core Changelog</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="Home/SystemExtensions.html">System Extensions</a><ul>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-dashboard/10.4/en-us/index.html">dashboard</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-felogin/10.4/en-us/index.html">felogin</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-fluid-styled-content/10.4/en-us/index.html">fluid_styled_content</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-form/10.4/en-us/index.html">form</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-indexed-search/10.4/en-us/index.html">indexed_search</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-linkvalidator/10.4/en-us/index.html">linkvalidator</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-recycler/10.4/en-us/index.html">recycler</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-rte-ckeditor/10.4/en-us/index.html">rte_ckeditor</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-scheduler/10.4/en-us/index.html">scheduler</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-seo/10.4/en-us/index.html">seo</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-sys-action/master/en-us/index.html">sys_action</a></li>
                                    <li class="toctree-l3"><a class="reference external" href="c/typo3/cms-workspaces/10.4/en-us/index.html">workspaces</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/reference-tca/10.4/en-us/index.html">TCA</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/reference-tsconfig/10.4/en-us/index.html">TSconfig</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/reference-typoscript/10.4/en-us/index.html">TypoScript</a></li>
                            <li class="toctree-l2"><a class="reference external" href="other/typo3/view-helper-reference/10.4/en-us/index.html">ViewHelper</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/Extensions.html">Extensions by Extension Key</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/WhatsNew.html">What’s new?</a></li>
                    <li class="toctree-l1"><a class="reference external" href="m/typo3/docs-cheatsheets/master/en-us/index.html">Cheat Sheets</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/About/Index.html">About TYPO3 Documentation</a><ul>
                            <li class="toctree-l2"><a class="reference internal" href="Home/About/UsingThisSite/Index.html">Usage tips</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="Home/About/News/Index.html">Documentation Changelog</a><ul>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2020/Index.html">2020</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2019/Index.html">2019</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2018/Index.html">2018</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2017/Index.html">2017</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2016/Index.html">2016</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="Home/About/News/2012-2015/Index.html">2012 - 2015</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2"><a class="reference external" href="typo3cms/HowToDocument/index.html">Writing Documentation</a></li>
                            <li class="toctree-l2"><a class="reference external" href="https://typo3.org/community/teams/documentation/#c9886">Contact</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1"><a class="reference internal" href="Home/Contribute.html">Contribute</a><ul>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/guide-contributionworkflow/master/en-us/index.html">Contribute to Core</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/docs-how-to-document/master/en-us/WritingDocsOfficial/Index.html">Contribute to Documentation</a></li>
                            <li class="toctree-l2"><a class="reference external" href="m/typo3/team-t3oteam/master/en-us/index.html">Contribute to typo3.org website</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="caption"><span class="caption-text">PAGE CONTENTS</span></p>
                <ul>
                    <li><a class="reference internal" href="#">Welcome to the official TYPO3 Documentation</a><ul>
                            <li><a class="reference internal" href="#getting-started">Getting Started</a></li>
                            <li><a class="reference internal" href="#how-the-documentation-is-organized">How the documentation is organized</a></li>
                            <li><a class="reference internal" href="#templating-with-fluid">Templating with Fluid</a></li>
                            <li><a class="reference internal" href="#manage-your-templates-and-more-with-sitepackages">Manage your templates and more with Sitepackages</a></li>
                            <li><a class="reference internal" href="#develop-custom-extensions">Develop custom extensions</a></li>
                            <li><a class="reference internal" href="#configure-your-typo3-installation">Configure your TYPO3 installation</a></li>
                            <li><a class="reference internal" href="#how-to-create-translations">How to create translations</a></li>
                            <li><a class="reference internal" href="#contribute-to-the-core">Contribute to the core</a></li>
                            <li><a class="reference internal" href="#contribute-to-official-documentation">Contribute to official documentation</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /menu -->
            </div>
        </div>
    </nav>
</div>