<div class="page-main-navigation d-lg-none d-block">
    <nav>
        <div class="toc-header">
            <div class="toc-title">
                <a class="toc-title-project" href="/">Search</a>
            </div>

            <div class="toc-actions">
                <button id="toc-toggle" class="btn btn-light d-block d-lg-none" tabindex="0"
                        aria-controls="toc-collapse" aria-expanded="false">
                    Menu
                </button>
            </div>
        </div>
        <div id="toc-collapse">
            <div aria-label="main navigation" class="toc"
                 role="navigation">
                {% include "partial/page_main/meta-menu.html.twig" %}
                <all-documentations-menu-mobile></all-documentations-menu-mobile>
            </div>
        </div>
    </nav>
</div>